<template>
    <transition name="fade">
        <section class="popup" v-if="popupName" @click.self="closePopup()">
            <Size v-if="popupName === 'size'" />
        </section>
    </transition>
</template>

<script>
    import Size from './templates/Size';

    export default {
        name: "Popup",
        components: {Size},
        computed: {
            popupName() {
                return this.$store.state.main.popup;
            }
        },
        methods: {
            closePopup() {
                this.$store.commit('main/setPopup', '');
            }
        }
    }
</script>