@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-Bold.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-Thin.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-Black.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-Light.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-ExtraLight.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('/assets/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
  url('/assets/fonts/montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}