* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0 !important
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  color: var(--mc_black);
}

a {
  text-decoration: none;
  color: var(--mc_black);
  &:hover {
    text-decoration: none;
  }
}

main {
  transition: .3s;
  padding-top: var(--vw_233);
}

.arrow {
  height: 1px;
  width: var(--vw_42);
  position: relative;
  display: block;
  background-color: var(--mc_black);
  &::after,
  &::before {
    content: '';
    width: 8px;
    position: absolute;
    right: 0;
    display: block;
    height: 1px;
    background-color: var(--mc_black);
  }
  &::after {
    transform: rotate(-30deg);
    top: 2px;
  }
  &::before {
    transform: rotate(30deg);
    bottom: 2px;
  }
  &__white {
    background-color: var(--mc_white);
    &::after,
    &::before {
      background-color: var(--mc_white);
    }
  }
}

.clearfix {
  clear: both;
}

body{
  &.menu-opened{
    overflow: hidden;
  }
}

#app {
  background-color: var(--mc_pink);
  min-height: 100vh;
  overflow: hidden;
  .close-modal{
    &.active{
      visibility: visible;
    }
    visibility: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.15);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 40;
    cursor: auto;
  }
  .text {
    &__red {
      color: var(--mc_red);
    }
    &__bold {
      font-weight: 800;
    }
  }

  .container {
    &__fw {
      width: 100%;
      padding: 0 var(--vw_42);
    }
  }
  .row {
    margin-right: calc(var(--vw_13) * -1);
    margin-left: calc(var(--vw_13) * -1);
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .mobile-data{
    display: none;
  }
  .col {
    float: left;
    &__20 {
      width: 20%;
      padding: 0 var(--vw_13);
    }
    &__1-6{
      width: calc(100% / 6);
      padding: 0 var(--vw_13);
    }
  }

  .add-to-favorite {
    position: absolute;
    z-index: 20;
    cursor: pointer;
    font-size: var(--vw_34);
    right: var(--vw_21);
    top: var(--vw_21);
    &:hover {
      transform: rotate(72deg);
      transition: .3s;
    }
  }

  .categories {
    display: flex;
    align-items: center;
    span {
      padding-right: var(--vw_5);
      &::after {
        content: ',';
      }
      &:last-child {
        padding-right: 0;
        &::after {
          content: none;
        }
      }
    }
  }
  .blur {
    filter: blur(3px);
    opacity: 0.2;
    transition: .3s;
    min-height: 100vh;
    overflow: hidden;
  }
  .old-price {
    position: relative;
    right: var(--vw_13);
    padding: 0 var(--vw_8);
    color: var(--mc_black);
    &::after {
      content: '';
      height: 1px;
      width: 100%;
      top: 50%;
      background-color: var(--mc_black);
      position: absolute;
      left: 0;
    }
  }
  .sale {
    color: var(--mc_red);
    span, div {
      color: var(--mc_black);
    }
  }
}

@media all and (max-width: 768px) {
  main {
    padding-top: calc(var(--vw_110) + var(--vw_16));
  }
  #app{
    .container__fw{
      padding: 0;
    }
    .row{
      margin: 0;
    }
    .col{
      padding: 0;
      &__20{
        width: 100%;
        float: none;
      }
    }
    .mobile-data{
      display: block;
    }
  }
}