body {
  --vw_1: 0.052vw;
  --vw_2: 0.104vw;
  --vw_3: 0.156vw;
  --vw_5: 0.260vw;
  --vw_8: 0.416vw;
  --vw_13: 0.677vw;
  --vw_16: 0.833vw;
  --vw_21: 1.093vw;
  --vw_26: 1.354vw;
  --vw_34: 1.77vw;
  --vw_42: 2.1875vw;
  --vw_55: 2.864vw;
  --vw_68: 3.541vw;
  --vw_89: 4.635vw;
  --vw_110: 5.729vw;
  --vw_144: 7.5vw;
  --vw_178: 9.27vw;
  --vw_233: 12.135vw;
  --vw_288: 15vw;
  --vw_377: 19.635vw;
  --vw_610: 31.77vw;
  --vw_754: 39.27vw;
  --vw_987: 51.406vw;

  // Colors
  --mc_black: #000;
  --mc_black_light: #1B1B1B;
  --mc_pink: #E8D7CF;
  --mc_pink_light: #F6EFEC;
  --mc_white: #fff;
  --mc_white_dark: #F9F9F9;
  --mc_red: #FF0000;

  /* Mobile width 375 */
  @media only screen and (max-width: 767px) {
    --vw_1: calc(1 * 100vw / 375);
    --vw_2: calc(2 * 100vw / 375);
    --vw_3: calc(3 * 100vw / 375);
    --vw_5: calc(5 * 100vw / 375);
    --vw_8: calc(8 * 100vw / 375);
    --vw_13: calc(13 * 100vw / 375);
    --vw_16: calc(16 * 100vw / 375);
    --vw_21: calc(21 * 100vw / 375);
    --vw_26: calc(26 * 100vw / 375);
    --vw_34: calc(34 * 100vw / 375);
    --vw_42: calc(42 * 100vw / 375);
    --vw_55: calc(55 * 100vw / 375);
    --vw_68: calc(68 * 100vw / 375);
    --vw_89: calc(89 * 100vw / 375);
    --vw_110: calc(110 * 100vw / 375);
    --vw_144: calc(144 * 100vw / 375);
    --vw_178: calc(178 * 100vw / 375);
    --vw_233: calc(233 * 100vw / 375);
    --vw_288: calc(288 * 100vw / 375);
    --vw_377: calc(377 * 100vw / 375);
    --vw_610: calc(610 * 100vw / 375);
    --vw_754: calc(754 * 100vw / 375);
    --vw_987: calc(987 * 100vw / 375);
  }
}