.button{
  height: var(--vw_55);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--vw_21);
  transition: .3s;
  cursor: pointer;
  outline: none;
  min-width: var(--vw_233);
  &:hover{
    transition: .3s;
  }
  &__black{
    background-color: var(--mc_black);
    border: 1px solid var(--mc_black);
    color: white;
    &:hover{
      background-color: transparent;
      color: var(--mc_black);
    }
  }
}