section.filters {
  position: relative;
  &.active{
    .filter-by-container{
      visibility: visible;
      opacity: 1;
      transition: .4s;
    }
    .title .status{
      transition: .3s;
      transform: rotate(180deg);
    }
  }
  .title{
    width: var(--vw_178);
    line-height: var(--vw_55);
    cursor: pointer;
    font-size: var(--vw_16);
    font-weight: 300;
    padding: 0 var(--vw_42);
    text-align: right;
    position: relative;
    float: right;
    .status{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      transition: .3s;
      width: var(--vw_21);
      &::after,
      &::before{
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        width: 58%;
        background-color: var(--mc_black);
      }
      &::before{
        left: 0;
        transform: rotate(35deg);
      }
      &::after{
        right: 0;
        transform: rotate(-35deg);
      }
    }
  }
  .filter{
    padding: 0 var(--vw_42);
    .filter-title{
      line-height: var(--vw_68);
      margin-bottom: var(--vw_8);
      font-size: var(--vw_16);
      font-weight: bold;
    }
  }
  .active-filters{
    position: absolute;
    bottom: calc(var(--vw_21) * -1);
    right: var(--vw_42);
    text-align: right;
    left: 0;
    span{
      cursor: pointer;
      opacity: .6;
      margin-left: var(--vw_8);
      //text-transform: uppercase;
      font-size: calc(var(--vw_8) + var(--vw_3));
      border: 1px solid var(--mc_black);
      border-radius: var(--vw_13);
      padding: var(--vw_3) var(--vw_21) var(--vw_3) var(--vw_8);
      position: relative;
      transition: .3s;
      &::after,
      &::before{
        position: absolute;
        content: '';
        height: 1px;
        width: var(--vw_8);
        right: var(--vw_8);
        top: 50%;
        background-color: var(--mc_black);
      }
      &::before{
        transform: rotate(45deg);
      }
      &::after{
        transform: rotate(-45deg);
      }
      &:hover{
        transition: .3s;
        opacity: .8;
      }
    }
  }
  .filter-by-container{
    display: flex;
    justify-content: flex-end;
    background-color: var(--mc_pink_light);
    padding: var(--vw_42);
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    .filter-by-data{
      cursor: pointer;
      line-height: var(--vw_26);
      font-size: var(--vw_16);
      color: var(--mc_black);
      margin-bottom: var(--vw_16);
      opacity: .7;
      transition: .3s;
      &.active{
        transition: .3s;
        opacity: 1;
        font-weight: 600;
      }
      &:hover{
        opacity: 1;
        transition: .3s;
      }
    }
  }
  @media all and (max-width: 768px) {
    .title {
      float: left;
      text-align: left;
      .status {
        right: 0;
        left: auto;
      }
    }
    .filter-by-container{
      padding: var(--vw_21) 0;
    }
    .filter {
      width: 50%;
      padding: 0 var(--vw_26);
    }
  }
}