section.sorting {
  position: relative;
  &.active{
    .sort-by-container{
      visibility: visible;
      opacity: 1;
      transition: .4s;
    }
    .title .status{
      transition: .3s;
      transform: rotate(180deg);
    }
  }
  .title{
    line-height: var(--vw_55);
    cursor: pointer;
    font-size: var(--vw_16);
    font-weight: 300;
    padding: 0 var(--vw_42);
    width: var(--vw_288);
    position: relative;
    .status{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      transition: .3s;
      width: var(--vw_21);
      &::after,
      &::before{
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        width: 58%;
        background-color: var(--mc_black);
      }
      &::before{
        left: 0;
        transform: rotate(35deg);
      }
      &::after{
        right: 0;
        transform: rotate(-35deg);
      }
    }
  }
  .sort-by-container{
    background-color: var(--mc_pink_light);
    padding: var(--vw_42);
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    .sort-by{
      cursor: pointer;
      line-height: var(--vw_26);
      font-size: var(--vw_16);
      color: var(--mc_black);
      margin-bottom: var(--vw_16);
      opacity: .7;
      transition: .3s;
      &:hover{
        opacity: 1;
        transition: .3s;
      }
      &.active{
        opacity: 1;
        font-weight: 600;
      }
    }
  }
}