section.cart {
  position: fixed;
  width: var(--vw_610);
  height: 100vh;
  z-index: 50;
  background-color: var(--mc_pink);
  transition: .3s;
  top: 0;
  right: calc(var(--vw_610) * -1);
  box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.07);
  &.active {
    right: 0;
    transition: .3s;
  }
  .button {
    &__close {
      height: var(--vw_144);
      padding: var(--vw_42) var(--vw_26) var(--vw_16);
      opacity: .7;
      transition: .3s;
      &:hover {
        opacity: 1;
        transition: .3s;
      }
      .title {
        font-weight: 600;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--mc_pink_light);
      }
    }
    &__pay {
      height: var(--vw_110);
      width: 100%;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: var(--mc_black_light);
    }
  }
  .data {
    height: calc(100vh - var(--vw_110) - var(--vw_144) - var(--vw_21));
    padding: var(--vw_16) var(--vw_26) 0;
    margin-bottom: var(--vw_21);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
  .cart-product {
    padding: var(--vw_26) var(--vw_21) var(--vw_26) var(--vw_34);
    background-color: var(--mc_pink_light);
    margin-bottom: var(--vw_21);
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;
    .remove-product {
      transition: .3s;
      cursor: pointer;
      position: absolute;
      right: var(--vw_26);
      top: var(--vw_26);
      height: var(--vw_21);
      width: var(--vw_21);
      &::after,
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--mc_black);
        position: absolute;
        top: calc(50% - 1px);
      }
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
      &:hover {
        transform: rotate(90deg);
        transition: .3s;
      }
    }
    .image {
      width: var(--vw_110);
      height: var(--vw_178);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .set-counter {
    display: flex;
    align-items: center;
  }
  .product-data {
    width: calc(100% - var(--vw_144));
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-weight: bold;
      font-size: var(--vw_21);
      line-height: var(--vw_26);
      padding-bottom: var(--vw_16);
    }
    .description {
      .attr {
        font-size: var(--vw_21);
        line-height: var(--vw_26);
        font-weight: 300;
        span {
          font-weight: normal;
          padding-left: var(--vw_5);
        }
      }
    }
    .price {
      display: flex;
      padding-top: var(--vw_21);
      justify-content: space-between;
      font-size: var(--vw_26);
      font-weight: normal;
      line-height: var(--vw_34);
      .currency {
        font-size: var(--vw_16);
        padding-left: var(--vw_5);
      }
    }
    .counter {
      display: flex;
      div {
        margin: 0 var(--vw_13);
        cursor: pointer;
        padding: 0 var(--vw_13);
        transition: .3s;
        border-radius: 5px;
        &:hover {
          transition: .3s;
          background-color: white;
        }
      }
    }
  }
  .button__pay {
    .count {
      margin-right: var(--vw_16);
    }
    img {
      margin-right: var(--vw_42);
    }
    .name,
    .total {
      text-transform: uppercase;
      font-weight: 300;
      font-size: var(--vw_21);
      line-height: var(--vw_26);
      padding-right: var(--vw_5);
    }
    .total {
      font-weight: 400;
      margin-right: var(--vw_21);
      .currency {
        font-size: var(--vw_13);
        font-weight: 300;
        padding-left: var(--vw_5);
      }
    }
  }
  @media all and (max-width: 768px) {
    width: 100vw;
    .button {
      &__close {
        padding: var(--vw_16);
        height: 12.5vh;
      }
      &__pay {
        height: 12.5vh;
      }
    }
    .data {
      padding: var(--vw_16);
      height: calc(75vh - var(--vw_21));
    }
    .cart-product{
      padding: var(--vw_16);
      .image{
        width: var(--vw_89);
        height: var(--vw_144);
      }
      .product-data {
        width: calc(100% - var(--vw_110));
      }
      .remove-product {
        top: var(--vw_16);
        right: var(--vw_16);
      }
    }
  }
}