.carousel{
  &__on-main-page{
    padding: var(--vw_55) var(--vw_21) 0;
    .carousel-post{
      margin: 0 var(--vw_21);
      position: relative;
    }
    .carousel-data{
      background-color: white;
      height: var(--vw_754);
      overflow: hidden;
      position: relative;
      img{
        height: 100%;
        object-fit: cover;
        transition: .3s;
      }
      .description{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        padding: var(--vw_34);
        &:hover{
          .arrow{
            margin-left: var(--vw_68);
          }
        }
      }
      .title{
        text-transform: uppercase;
        font-size: var(--vw_21);
        line-height: var(--vw_26);
        padding-bottom: var(--vw_34);
      }
      .categories{
        span{
          font-size: var(--vw_16);
          text-transform: uppercase;
          line-height: var(--vw_21);
          &:nth-last-child(2){
            padding-right: 0;
            &::after{
              content: none !important;
            }
          }
        }
        .arrow{
          transition: .3s;
          margin-left: var(--vw_55);
        }
      }
      &:hover{
        img{
          transition: .3s;
          transform: scale(1.1);
        }
      }
    }
    .owl-theme .owl-dots {
      margin-top: var(--vw_42) !important;
      button{
        outline: none;
      }
      .owl-dot{
        span{
          height: var(--vw_16);
          width: var(--vw_16);
          border-radius: 16px;
          opacity: .2;
          background: var(--mc_black_light);
        }
        &.active span,
        &:hover span{
          opacity: 1;
          background: var(--mc_black_light);
        }
      }
    }
  }
  @media all and (max-width: 768px) {
    &__on-main-page{
      padding: 0;
      .carousel-post{
        padding: 0;
      }
      .carousel-data{
        height: 70vh;
      }
      .owl-theme .owl-dots{
        margin-top: var(--vw_21) !important;
        .owl-dot span{
          height: var(--vw_13);
          width: var(--vw_13);
          margin: var(--vw_5);
        }
      }
    }
  }
}