section.favorite-section {
  position: absolute;
  padding-right: var(--vw_68);
  right: 0;
  height: 0;
  padding-top: 0;
  transition: .3s;
  top: var(--vw_68);
  z-index: 15;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &.active {
    padding-top: var(--vw_26);
    height: calc(100vh - var(--vw_233));
  }
  &::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
  }
  .sidebar-product {
    margin-bottom: var(--vw_21);
    background-color: var(--mc_pink_light);
    padding: var(--vw_21);
    display: flex;
    border-radius: 5px;
    width: var(--vw_377);
    position: relative;
    transition: .3s;
    &:hover {
      width: calc(var(--vw_377) + var(--vw_55));
      transition: .3s;
      .more {
        width: var(--vw_42);
      }
    }
    .favorite-button {
      cursor: pointer;
      position: absolute;
      right: calc(var(--vw_42) * -1);
      font-size: var(--vw_26);
      top: calc(50% - var(--vw_13));
      color: var(--mc_white);
      &:hover {
        transform: rotate(72deg);
        transition: .3s;
      }
    }
    .description {
      margin-left: var(--vw_68);
      margin-right: var(--vw_16);
      width: var(--vw_144);
      .title {
        font-size: var(--vw_16);
        line-height: var(--vw_42);
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .price {
        font-size: var(--vw_21);
        line-height: var(--vw_26);
        padding-top: var(--vw_8);
        font-weight: 300;
        .currency {
          font-size: var(--vw_13);
          padding-left: var(--vw_5);
        }
      }
      .colors {
        margin-top: var(--vw_16);
        display: flex;
        span {
          height: var(--vw_13);
          width: var(--vw_13);
          border-radius: var(--vw_8);
          margin-right: var(--vw_13);
          border: 1px solid #bdbdbd;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .more {
      width: 0;
      transition: .3s;
      overflow: hidden;
      display: flex;
      margin-left: auto;
      align-items: center;
    }
    img {
      height: var(--vw_110);
      width: var(--vw_89);
      object-fit: cover;
    }
  }
  @media all and (max-width: 768px) {
    width: 100%;
    &.active {
      padding-top: var(--vw_13);
    }
    .sidebar-product {
      width: calc(100% - var(--vw_16));
      padding: var(--vw_16);
      .description {
        margin-left: var(--vw_26);
      }
      .more {
        display: none;
      }
      &:hover {
        width: calc(100% - var(--vw_16));
      }
    }
  }
}