footer{
  width: var(--vw_987);
  margin: 0 auto;
  height: var(--vw_68);
  background-color: var(--mc_pink_light);
  padding: 0 var(--vw_34);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navigation{
    a, .link{
      cursor: pointer;
      font-size: var(--vw_13);
      margin-right: var(--vw_55);
      &:last-child{
        margin-right: 0;
      }
    }
    .link {
      //margin: 0 auto;
      margin-right: var(--vw_55);
      text-transform: uppercase;
    }
  }
  a{
    font-size: var(--vw_13);
    text-transform: uppercase;
  }
  @media all and (max-width: 768px) {
    width: auto;
    height: auto;
    padding: var(--vw_34) var(--vw_16);
    flex-direction: column-reverse;
    .navigation {
      flex-direction: column;
      height: auto;
      padding: var(--vw_34) 0;
      a, .link {
        padding: var(--vw_5) 0;
        margin: 0;
      }
    }
  }
}