section.form{
  input{
    width: 100%;
    background-color: var(--mc_white_dark);
    line-height: var(--vw_55);
    text-align: center;
    color: var(--mc_black);
    border: none;
    font-size: var(--vw_21);
    font-weight: 300;
    outline: none;
    &::placeholder{
      font-weight: 300;
      font-size: var(--vw_21);
      color: var(--mc_black);
    }
    &[type="submit"]{
      color: var(--mc_white_dark);
      background-color: var(--mc_black_light);
      border: 1px solid var(--mc_black_light);
      cursor: pointer;
      transition: .4s;
      &:hover{
        transition: .4s;
        background-color: transparent;
        color: var(--mc_black_light);
      }
    }
  }
  .field{
    width: calc(var(--vw_377) + var(--vw_110));
    //width: 100%;
    margin: 0 auto;
    padding-bottom: var(--vw_26);
    &:last-child{
      padding-bottom: 0;
    }
  }
}