section.friends{
  h3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--vw_233);
    font-size: var(--vw_34);
    line-height: var(--vw_42);
    text-transform: uppercase;
  }
  .friends-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .friend{
    position: relative;
    width: var(--vw_377);
    padding: var(--vw_8) var(--vw_8) var(--vw_110);
    margin-bottom: var(--vw_34);
    img{
      display: block;
      width: 100%;
      height: var(--vw_377);
      object-fit: cover;
    }
    .friend-data{
      transition: .3s;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      left: var(--vw_26);
      right: var(--vw_26);
      height: var(--vw_178);
      .product{
        display: flex;
        text-transform: uppercase;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        font-size: var(--vw_13);
        padding-bottom: var(--vw_55);
        a{
          margin-left: var(--vw_5);
          text-decoration: underline;
        }
      }
      .name{
        padding-bottom: var(--vw_13);
        font-size: var(--vw_21);
        text-transform: uppercase;
      }
    }
    &:hover{
      .friend-data{
        transition: .3s;
        background-color: var(--mc_pink_light);
        .product{
          visibility: visible;
          opacity: 1;
          transition: .3s;
        }
      }
    }
  }
}