header{
  position: absolute;
  width: 100vw;
  z-index: 30;
  left: 0;
  top: 0;
  background-color: var(--mc_pink);
  &.scroll{
    top: calc(var(--vw_233) * -1);
    transition: .4s;
    &.scroll-top{
      position: fixed;
      top: 0;
      transition: .4s;
    }
  }
  @media all and (max-width: 768px) {
    position: fixed;
  }
}
.top-header{
  padding: var(--vw_55) var(--vw_110);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu-block-part{
    width: var(--vw_754);
    font-size: var(--vw_21);
    display: flex;
    align-items: center;
    cursor: pointer;
    &.cart-part{
      justify-content: flex-end;
    }
    .icon{
      width: var(--vw_42);
      height: var(--vw_21);
      margin-right: var(--vw_16);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: .3s;
      &.menu-open{
        transition: .3s;
        opacity: 0;
      }
      span{
        height: 1px;
        background-color: black;
        width: 100%;
        display: block;
        transition: .3s;
      }
    }
    &:hover{
      .icon span:first-child{
        transition: .3s;
        width: 69%;
      }
    }
  }
  .logo-data{
    a{
      font-size: var(--vw_34);
      text-transform: uppercase;
      color: var(--mc_black);
      font-weight: bold;
    }
  }
  .button__pay{
    .count{
      margin-right: var(--vw_16);
    }
    img{
      margin-right: var(--vw_42);
    }
    .name,
    .total{
      text-transform: uppercase;
      font-weight: 300;
      font-size: var(--vw_21);
      line-height: var(--vw_26);
      padding-right: var(--vw_5);
    }
    .total{
      font-weight: 400;
      margin-right: var(--vw_21);
      .currency{
        font-size: var(--vw_13);
        font-weight: 300;
        padding-left: var(--vw_5);
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: var(--vw_8) var(--vw_16);
    .menu-block-part{
      width: auto;
      > span{
        display: none;
      }
      &.cart-part{
        .name,
        .total,
        .arrow {
          display: none;
        }
      }
      &.button__pay{
        min-width: auto;
        img{
          margin: 0;
        }
      }
      .icon{
        width: var(--vw_34);
      }
    }
    .logo-data a{
      font-size: var(--vw_26);
    }
  }
}
.navigation{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mc_pink_light);
  padding: 0 var(--vw_68);
  height: var(--vw_68);
  a{
    color: var(--mc_black);
    font-size: var(--vw_16);
    line-height: var(--vw_21);
    text-transform: uppercase;

  }
  .favorites,
  .history{
    height: 100%;
    .menu-item{
      padding: 0 var(--vw_42);
    }
  }
  .menu-item{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--vw_16);
    background-color: transparent;
    &:hover{
      transition: .3s;
      background-color: var(--mc_pink);
    }
  }
  .category-list{
    display: flex;
    height: 100%;
    .menu-cat{
      display: flex;
      .menu-item{
        padding: 0 var(--vw_21);
      }
    }
  }
  .favorites,
  .history,
  .menu-cat{
    &.active{
      .menu-item{
        transition: .3s;
        background-color: var(--mc_pink);
        &::before{
          content: '';
          display: block;
          position: absolute;
          width: var(--vw_42);
          //width: var(--vw_55);
          left: 0;
          right: 0;
          margin: 0 auto;
          top: -2px;
          height: 2px;
          background-color: var(--mc_black);
        }
      }
    }
  }
  .more-products{
    transition: .3s;
    position: absolute;
    padding: var(--vw_55) 0;
    background: var(--mc_pink_light);
    top: var(--vw_68);
    left: calc(100vw / 15 * -1);
    right: calc(100vw / 15 * -1);
    z-index: 5;
    .product-demo{
      .add-to-favorite{
        top: var(--vw_16) !important;
        font-size: var(--vw_26) !important;
        right: var(--vw_42) !important;
      }
      padding: var(--vw_34) var(--vw_13) 0;
      position: relative;
    }
    .product-container{
      padding: 0 var(--vw_21) var(--vw_42);
      transition: .4s;
      &:hover{
        background-color: var(--mc_white);
        transition: .4s;
        .product-image{
          .colors-container{
            opacity: 1;
            visibility: visible;
            transition: .4s;
          }
        }
        .more{
          opacity: 1;
          visibility: visible;
          transition: .4s;
        }
      }
    }
    .product-image{
      position: relative;
      top: calc(var(--vw_34) * -1);
      img{
        width: 100%;
        height: var(--vw_288);
        object-fit: cover;
      }
      .colors-container{
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        overflow: hidden;
        transition: .4s;
        display: flex;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        bottom: 0;
        .colors{
          border-radius: var(--vw_13) var(--vw_13) 0 0;
          padding: var(--vw_13) var(--vw_21) 0;
          background-color: var(--mc_white);
          display: inline-flex;
          span{
            height: var(--vw_13);
            width: var(--vw_13);
            border-radius: var(--vw_13);
            border: 1px solid rgba(0, 0, 0, 0.4);
            margin-right: var(--vw_8);
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
    .title{
      padding: 0 var(--vw_16);
      min-height: var(--vw_68);
      font-size: var(--vw_21);
      line-height: var(--vw_26);
      font-weight: bold;
      display: block;
    }
    .price{
      padding: 0 var(--vw_16);
      font-size: var(--vw_21);
      line-height: var(--vw_26);
      font-weight: 300;
      display: flex;
      align-items: flex-end;
      .currency{
        font-size: var(--vw_13);
        line-height: var(--vw_16);
      }
      .old-price{
        font-size: var(--vw_13);
      }
    }
    .more{
      position: absolute;
      right: var(--vw_34);
      height: var(--vw_16);
      display: flex;
      align-items: center;
      bottom: var(--vw_42);
      opacity: 0;
      visibility: hidden;
      transition: .4s;
    }
    .owl-nav{
      position: absolute;
      bottom: calc((var(--vw_110) + var(--vw_16) + var(--vw_3)) * -1);
      right: var( --vw_233);
      margin: 0;
      [class*='owl-']{
        margin: var(--vw_8);
        background-color: transparent;
        border: 1px solid var(--mc_black);
        padding: 0;
        height: var(--vw_55);
        transition: .3s;
        font-size: 0;
        width: var(--vw_55);
        border-radius: 0;
        position: relative;
        &::after,
        &::before{
          content: '';
          display: block;
          position: absolute;
          width: var(--vw_16);
          height: 2px;
          background-color: black;
          left: var(--vw_16);
        }
        &::after{
          bottom: calc(var(--vw_16) + var(--vw_3));
          transform: rotate(50deg);
        }
        &::before{
          top: calc(var(--vw_16) + var(--vw_3));
          transform: rotate(-50deg);
        }
        &:hover{
          background-color: var(--mc_white);
          transition: .3s;
        }
      }
      .owl-next{
        transform: rotate(180deg);
      }
    }
  }
  .more-button{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: var(--vw_68);
    .close-navigation{
      height: var(--vw_55);
      bottom: 0;
      position: absolute;
      display: flex;
      border: 1px solid var(--mc_black);
      align-items: center;
      padding: 0 var( --vw_26);
      font-weight: 700;
      text-transform: uppercase;
      font-size: var( --vw_16);
      cursor: pointer;
      left: var(--vw_233);
      transition: .3s;
      &:hover{
        background-color: var(--mc_white);
        transition: .3s;
      }
    }
    .more-products-button{
      display: flex;
      align-items: center;
      height: var(--vw_55);
      border: 1px solid var(--mc_black);
      text-transform: uppercase;
      padding: 0 var(--vw_42);
      font-weight: bold;
      transition: .4s;
      &:hover{
        background-color: var(--mc_white);
        transition: .4s;
      }
    }
    .arrow{
      margin-left: var(--vw_21);
    }
  }

  @media all and (max-width: 768px){
    padding: 0 var(--vw_16);
    height: var(--vw_55);
    .favorites,
    .history {
      display: none;
    }
    .category-list{
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        height: 0;
        background: transparent;  /* Optional: just make scrollbar invisible */
      }
    }
    .menu-item{
      white-space: nowrap;
      font-size: var(--vw_16);
    }
  }
}