section.menu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
  bottom: 0;
  background: rgba(232, 215, 207, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: .4s;
  opacity: 0;
  visibility: hidden;
  &.menu-open{
    transition: .4s;
    opacity: 1;
    visibility: visible;
  }
  .icon__exit{
    position: absolute;
    width: var(--vw_42);
    height: var(--vw_26);
    top: calc(var(--vw_68) - var(--vw_5));
    left: var(--vw_89);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: var(--vw_21);
    cursor: pointer;
    span{
      height: 1px;
      background-color: var(--mc_black);
      width: 100%;
      position: relative;
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        top: -1px;
        transform: rotate(-45deg);
      }
    }
  }
  .menu-block{
    padding-bottom: var(--vw_233);
    text-align: center;
    a{
      display: block;
      font-size: var(--vw_68);
      line-height: var(--vw_110);
      text-transform: uppercase;
      transition: .3s;
      &:hover{
        color: white;
        transition: .3s;
      }
    }
    .mobile{
      display: none;
    }
  }
  @media all and (max-width: 768px) {
    .menu-block {
      padding-bottom: var(--vw_55);
      a {
        font-size: var(--vw_34);
        line-height: var(--vw_55);
      }
      .mobile{
        display: block;
        padding-bottom: var(--vw_42);
        .menu-item{
          font-size: var(--vw_26);
          line-height: var(--vw_42);
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          i{
            font-size: var(--vw_21);
            padding-left: var(--vw_16);
          }
        }
      }
    }
    .icon__exit{
      margin: 0;
      left: var(--vw_16);
      top: var(--vw_21);
      width: var(--vw_34);
    }
  }
}