section.types{
  padding-bottom: var(--vw_110);
  h3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--vw_233);
    font-size: var(--vw_34);
    line-height: var(--vw_42);
    text-transform: uppercase;
  }
  .type-data{
    display: block;
    img{
      width: 100%;
      height: calc(var(--vw_377) + var(--vw_89));
      object-fit: cover;
      display: block;
    }
    &:hover .description{
      transition: .3s;
      padding: var(--vw_34) 0 var(--vw_55);
      background-color: var(--mc_pink_light);
      .arrow{
        visibility: visible;
      }
      .name{
        padding-bottom: var(--vw_42);
      }
    }
  }
  .description{
    margin: 0 var(--vw_16);
    padding: var(--vw_34) 0 var(--vw_13);
    transition: .3s;
    min-height: calc(var(--vw_110) + var(--vw_55));
    .name{
      text-align: center;
      font-size: var(--vw_21);
      line-height: var(--vw_26);
      text-transform: uppercase;
      padding-bottom: var(--vw_16);
    }
    .arrow{
      margin: 0 auto;
      visibility: hidden;
    }
  }
  @media all and (max-width: 768px) {
    .type-post{
      width: 50% !important;
      .description{
        padding: var(--vw_16) 0;
        min-height: var(--vw_55);
        .name{
          font-size: var(--vw_16);
        }
      }
    }
    .type-data {
      img {
        height: 35vh;
      }
    }
  }
}