section.welcome{
  background-color: var(--mc_pink_light);
  height: var(--vw_754);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title{
    font-size: var(--vw_55);
    line-height: var(--vw_68);
    color: var(--mc_black_light);
    padding-bottom: var(--vw_68);
  }
  .description{
    padding-bottom: var(--vw_89);
    font-weight: 300;
    font-size: var(--vw_34);
    line-height: 1.3;
  }
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

  @media all and (max-width: 768px) {
    height: 80vh;
    .description {
      text-align: center;
    }
    .form {
      width: 100%;
      padding: 0 var(--vw_21);
      .field {
        width: 100%;
      }
    }
    .title{
      padding: 0 var(--vw_34) var(--vw_26);
      font-size: var(--vw_26);
      line-height: var(--vw_42);
      text-align: center;
    }
    .description{
      padding-bottom: var(--vw_55);
      font-size: var(--vw_21);
    }
  }
}