main.category{
  padding: calc(var(--vw_55) + var(--vw_233)) var(--vw_288) var(--vw_55);
  .products-container{
    display: flex;
    flex-wrap: wrap;
    .product{
      padding: 0 var(--vw_42);
      margin-bottom: var(--vw_42);
      width: 33.33%;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: var(--vw_55);
        right: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.6);
        transition: .3s;
        border-radius: 3px;
        opacity: 0;
      }
      &:hover{
        &::before{
          top: var(--vw_55);
          opacity: 1;
          bottom: 0;
          transition: .3s;
        }
        .product-data{
          .product-description{
            .more{
              visibility: visible;
              transition: .3s;
              opacity: 1;
            }
            .colors-container{
              height: var(--vw_26);
              transition: .3s;
              opacity: 1;
              top: calc(var(--vw_26) * -1);
            }
          }
        }
      }
    }
  }
  .product-data{
    position: relative;
    .image{
      height: calc(var(--vw_144) + var(--vw_377));
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .product-description{
      position: relative;
      text-align: center;
      padding: var(--vw_21) 0;
      .title{
        line-height: var(--vw_55);
        font-size: var(--vw_26);
        text-transform: uppercase;
        font-weight: 700;
      }
      .price{
        font-size: var(--vw_26);
        font-weight: 300;
        padding-top: var(--vw_8);
        line-height: var(--vw_55);
        display: flex;
        align-items: baseline;
        justify-content: center;
        span{
          padding-left: var(--vw_5);
          font-size: var(--vw_21);
        }
        .old-price{
          font-size: var(--vw_21);
        }
      }
      .more{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        right: 0;
        transition: .3s;
        height: var(--vw_26);
        display: flex;
        align-items: center;
        bottom: var(--vw_34);
        &:hover{
          transition: .3s;
          right: calc(var(--vw_8) * -1);
        }
      }
      .colors-container{
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        overflow: hidden;
        transition: .3s;
        height: 0;
        opacity: 0;
        top: 0;
        .colors{
          border-radius: var(--vw_13) var(--vw_13) 0 0;
          padding: var(--vw_13) var(--vw_21) 0;
          background-color: #F6EFEC;
          display: inline-flex;
          span{
            height: var(--vw_13);
            width: var(--vw_13);
            border-radius: var(--vw_13);
            border: 1px solid rgba(0, 0, 0, 0.4);
            margin-right: var(--vw_8);
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .filter-block{
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--vw_55);
    .sorting,
    .filters{
      width: var(--vw_610);
    }
  }
  @media all and (max-width: 768px) {
    padding: var(--vw_144) 0 0;
    .products-container {
      padding: 0 var(--vw_16);
      .product {
        padding: 0 var(--vw_26);
        width: 100%;
        &::before{
          opacity: 1;
          bottom: 0;
          top: var(--vw_34) !important;
        }
      }
    }
    .product-data {
      .image {
        height: var(--vw_377);
        display: block;
      }
      .product-description {
        .title {
          font-size: var(--vw_16);
          line-height: var(--vw_21);
        }
        .price{
          font-size: var(--vw_21);
          line-height: var(--vw_34);
        }
        .more {
          display: none;
        }
        .colors-container{
          opacity: 1;
          top: calc(var(--vw_26) * -1);
          height: var(--vw_26);
        }
      }
    }
    .filter-block{
      flex-direction: column;
      .sorting,
      .filters {
        width: 100%;
      }
    }
  }
}