main.checkout {
  font-weight: 300;
  padding-top: 0;
  .header {
    padding: var(--vw_55) var(--vw_110);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-data a {
      font-size: var(--vw_34);
      text-transform: uppercase;
      color: var(--mc_black);
      font-weight: bold;
    }
    .header-data {
      text-align: right;
      min-width: var(--vw_288);
      font-weight: 300;
      font-size: var(--vw_26);
    }
  }
  .checkout-data {
    padding: var(--vw_55) 0;
    background-color: var(--mc_white);
    .subtitle {
      font-weight: 300;
      font-size: var(--vw_21);
      text-align: center;
    }
  }
  .checkout-container {
    padding-top: var(--vw_68);
    display: flex;
    .column {
      width: 25vw;
      padding: 0 var(--vw_89);
      border-right: 3px solid var(--mc_white_dark);
    }
    .title {
      font-size: var(--vw_21);
      font-weight: bold;
      color: var(--mc_black);
      text-transform: uppercase;
      padding-bottom: var(--vw_55);
    }
    .form-data {
      .field {
        padding-bottom: var(--vw_13);

        input {
          outline: none;
          margin: 0;
          border: none;
          font-weight: 300;
          &::-webkit-input-placeholder,
          &::-moz-placeholder,
          &:-ms-input-placeholder,
          &:-moz-placeholder {
            font-weight: 300 !important;
            color: var(--mc_black_light);
          }
          &[type=text] {
            line-height: var(--vw_55);
            background-color: var(--mc_white_dark);
            font-size: var(--vw_21);
            padding: 0 var(--vw_26);
            width: 100%;
          }
          &.promocode {
            margin-top: var(--vw_68);
            background-color: transparent;
            border: 1px dashed rgba(0, 0, 0, 0.5);
            font-size: var(--vw_16);
            text-align: center;
          }
        }
        &__checkbox {
          height: var(--vw_55);
          display: flex;
          align-items: center;
          input {
            height: var(--vw_21);
            width: var(--vw_21);
          }
          label {
            font-size: var(--vw_16);
            padding-left: var(--vw_26);
          }
        }
        &__card-data {
          display: flex;
          padding-bottom: var(--vw_26);
        }
        &__radio {
          height: var(--vw_55);
          display: flex;
          align-items: center;
          input {
            height: var(--vw_21);
            width: var(--vw_21);
          }
          label {
            font-size: var(--vw_21);
            padding-left: var(--vw_26);
          }
        }
        .card-data {
          &::placeholder {
            font-size: var(--vw_16);
            color: #4c4c4c;
          }
          &.card-data_date {
            border-right: var(--vw_21) solid var(--mc_white);
          }
          &.card-data_csv {
            width: var(--vw_110);
          }
        }
        &.house-data {
          display: flex;
          input:first-child {
            border-right: 4px solid white;
          }
          input:last-child {
            border-left: 4px solid white;
          }
        }
      }
      .data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--vw_55);
        font-size: var(--vw_21);
        .currency {
          font-size: var(--vw_13);
          padding-left: var(--vw_5);
        }
        &__total {
          font-weight: normal;
          margin-bottom: var(--vw_68);
          .price {
            font-size: var(--vw_26);
          }
        }
      }
      .hr {
        margin: var(--vw_26) 0;
        height: 1px;
        background: #C4C4C4;
      }
    }
  }

  @media all and (max-width: 768px) {
    .header {
      padding: var(--vw_16);
      flex-direction: column-reverse;
      .header-data {
        text-align: left;
      }
      .logo-data {
        padding: var(--vw_16) 0;
      }
    }
    .checkout-container {
      flex-direction: column;
      .column {
        width: 100%;
        padding: var(--vw_16);
      }
    }
  }
}