main.home {
  .text-block {
    height: var(--vw_987);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: var(--vw_89);
    }
    .logo-description {
      padding-top: var(--vw_68);
      text-align: center;
      font-weight: 300;
      color: var(--mc_black_light);
      font-size: var(--vw_42);
      line-height: 1.6;
    }
    .button {
      padding: 0 var(--vw_34);
      margin-top: var(--vw_68);
      text-transform: uppercase;
      font-size: var(--vw_16);
    }
  }

  .image-block {
    height: var(--vw_987);
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .types {
    padding-top: var(--vw_89);
  }
  .welcome {
    margin-bottom: var(--vw_178);
  }
  .friends {
    padding-bottom: var(--vw_178);
  }

  @media all and (max-width: 768px) {
    .text-block {
      height: 100vh;
      h1 {
        font-size: var(--vw_55);
      }
      .logo-description {
        padding-top: var(--vw_42);
        font-size: var(--vw_16);
      }
    }
    .image-block{
      height: 70vh;
    }
    .types{
      padding-top: 0;
      padding-bottom: 0;
    }
    .welcome{
      margin-bottom: var(--vw_55);
    }
    .friends {
      padding-bottom: var(--vw_55);
      h3 {
        text-align: center;
      }
      .friends-block {
        .friend {
          padding: var(--vw_8);
          width: 50%;
          img {
            height: var(--vw_178);
          }
          .product{
            display: none;
          }
          .name {
            text-align: center;
            padding: var(--vw_16) 0;
            font-size: var(--vw_16);
          }
          .friend-data {
            position: static;
            width: 100%;
            height: auto;
            background-color: transparent;
          }
        }
      }
    }
  }
}