main.product {
  padding: calc(var(--vw_233) + var(--vw_89)) var(--vw_110) var(--vw_55);
  .product-container {
    display: flex;
    justify-content: space-between;
    .sidebar {
      text-align: center;
      width: calc(var(--vw_610) + var(--vw_110));
    }
    .sidebar-data {
      background: rgba(255, 255, 255, 0.6);
      padding: var(--vw_21);
    }
  }
  .sidebar-data {
    position: relative;
    .add-to-favorite {
      position: absolute;
      cursor: pointer;
      font-size: var(--vw_34);
      right: var(--vw_21);
      top: var(--vw_21);
      &:hover {
        transform: rotate(72deg);
        transition: .3s;
      }
    }
    .categories {
      display: flex;
      justify-content: center;
      span {
        letter-spacing: .1em;
        font-size: var(--vw_16);
        line-height: var(--vw_21);
      }
    }
    .product-name {
      font-weight: bold;
      font-size: var(--vw_34);
      line-height: var(--vw_42);
      padding-top: var(--vw_26);
      padding-bottom: var(--vw_34);
      text-align: center;
      text-transform: uppercase;
    }
    .sizes {
      display: flex;
      justify-content: center;
      .size {
        height: var(--vw_68);
        width: var(--vw_110);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: var(--vw_34);
        line-height: var(--vw_42);
        cursor: pointer;
        transition: .3s;
        &:hover {
          background-color: rgba(232, 215, 207, 0.3);
          transition: .3s;
        }
        &.active {
          font-weight: bold;
          background-color: var(--mc_pink);
          transition: .3s;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: -3px;
            width: var(--vw_55);
            right: 0;
            left: 0;
            margin: 0 auto;
            height: 3px;
            background-color: var(--mc_black);
          }
        }
      }
    }
    .sizes-description {
      opacity: .5;
      font-size: var(--vw_13);
      line-height: 1.3;
      letter-spacing: 0.09em;
      display: table;
      margin: 0 auto;
      cursor: pointer;
      text-decoration-line: underline;
      color: black;
      transition: .3s;
      padding: var(--vw_34) 0 var(--vw_42);
      &:hover {
        opacity: .8;
        transition: .3s;
      }
    }
    .buy-block {
      display: flex;
      justify-content: center;
      padding-bottom: var(--vw_42);
      align-items: center;
      .price {
        display: flex;
        justify-content: center;
        width: var(--vw_288);
        font-weight: 300;
        line-height: 1;
        font-size: var(--vw_42);
        align-items: baseline;
        span {
          font-size: var(--vw_26);
          padding-left: var(--vw_13);
          color: var(--mc_black);
        }
        .old-price {
          font-size: var(--vw_26);
        }
        &.sale {
          color: var(--mc_red);
        }
      }
      .buy-button {
        position: relative;
      }
      .errors {
        position: absolute;
        font-size: var(--vw_13);
        left: 0;
        right: 0;
        padding-top: var(--vw_13);
        top: var(--vw_55);
        .error {
          color: #d40707;
        }
      }
    }
  }
  .product-data {
    padding-top: var(--vw_26);
    .product-attr {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--vw_55);
      .attr {
        font-size: var(--vw_21);
        color: black;
        &::after {
          content: '/';
          padding: 0 var(--vw_13);
        }
        &:last-child::after {
          content: none;
        }
      }
    }
    .product-description {
      padding: var(--vw_26) var(--vw_68) var(--vw_55);
      text-align: center;
      font-size: var(--vw_16);
    }
  }
  .meta-data {
    height: var(--vw_89);
    background: rgba(255, 255, 255, 0.3);
    border-radius: var(--vw_89);
    padding: 0 calc(var(--vw_89) / 2);
    display: inline-flex;
    margin: 0 auto;
    align-items: center;
    .meta {
      font-size: var(--vw_13);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: var(--vw_110);
      border-right: 1px dashed #E8D7CF;
      &:last-child {
        border-right: none;
      }
      span {
        font-size: var(--vw_21);
        padding-top: var(--vw_8);
      }
    }
  }
  .slider-gallery {
    width: var(--vw_610);
    position: relative;
    margin-left: var(--vw_178);
    padding-left: calc(var(--vw_178) + var(--vw_34));
    .owl-carousel {
      position: static;
    }
    .owl-item img {
      height: calc(var(--vw_233) + var(--vw_288));
      object-fit: cover;
    }
    .owl-nav {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: calc((var(--vw_233) + var(--vw_288)) * -1);
      margin: var(--vw_34) calc(var(--vw_68) * -1) 0;
      .owl-prev,
      .owl-next {
        opacity: .7;
        background-color: transparent;
        font-size: 0;
        padding: 0;
        margin: 0;
        height: 34px;
        width: 22px;
        position: relative;
        transition: .4s;
        &:hover {
          transition: .4s;
          opacity: 1;
        }
        &::after,
        &::before {
          content: '';
          display: block;
          position: absolute;
          height: 2px;
          width: 22px;
          background-color: white;
        }
        &::after {
          top: 8px;
          transform: rotate(45deg);
        }
        &::before {
          bottom: 8px;
          transform: rotate(-45deg);
        }
      }
      .owl-prev {
        transform: rotate(180deg);
      }
    }
    .owl-dots {
      position: absolute;
      top: 0;
      left: 0;
      .owl-dot {
        width: var(--vw_89);
        height: var(--vw_110);
        margin-bottom: var(--vw_21);
        outline: none;
        display: block;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .colors {
    display: flex;
    justify-content: center;
    .color-data {
      padding: 0 var(--vw_16);
    }
    span {
      height: var(--vw_26);
      cursor: pointer;
      position: relative;
      width: var(--vw_26);
      transition: .3s;
      border-radius: var(--vw_13);
      border: 1px solid rgba(130, 130, 130, 0.6);
      display: block;
      top: 0;
      &.active {
        top: calc(var(--vw_13) * -1);
        transition: .3s;
      }
    }
  }
  @media all and (max-width: 768px) {
    padding: var(--vw_144) 0 var(--vw_178);
    .mobile-data{
      padding: var(--vw_16) var(--vw_16) var(--vw_26);
      .mobile-header{
        display: flex;
        justify-content: space-between;
      }
      h2{
        text-align: center;
        text-transform: uppercase;
        padding-top: var(--vw_21);
      }
    }
    .product-container {
      flex-direction: column;
      .sidebar {
        width: 100%;
      }
      .sidebar-data {
        position: fixed;
        bottom: 0;
        z-index: 15;
        right: 0;
        left: 0;
        padding: var(--vw_16);
        background-color: white;
        .add-to-favorite,
        .categories,
        .product-name,
        .sizes-description{
          display: none !important;
        }
        .sizes{
          padding-bottom: var(--vw_16);
          .size{
            margin: 0 var(--vw_8);
            width: var(--vw_55);
            height: var(--vw_42);
            font-size: var(--vw_21);
            &.active::after{
              width: 70%;
            }
          }
        }
        .buy-block{
          padding-bottom: 0;
          .buy-button{
            height: var(--vw_42);
            font-size: var(--vw_16);
            min-width: 40%;
          }
          .price{
            font-size: var(--vw_26);
            span{
              font-size: var(--vw_16);
            }
          }
        }
      }
    }
    .slider-gallery {
      background-color: var(--mc_pink_light);
      margin-left: 0;
      padding: var(--vw_26) var(--vw_16);
      width: 100%;
      .owl-carousel {
        width: 100%;
        position: relative;
      }
      .owl-dots {
        position: static;
        overflow: auto;
        margin: var(--vw_5) calc(var(--vw_3) * -1) 0;
        .owl-dot {
          margin-bottom: var(--vw_8);
          width: 25%;
          padding: var(--vw_3) !important;
          display: inline-block;
        }
      }
      .owl-nav {
        position: absolute;
        right: var(--vw_16);
        left: var(--vw_16);
        top: calc(30vh - 17px);
        margin: 0;
      }
      .owl-item {
        img {
          height: 60vh;
        }
      }
    }
    .colors {
      padding: var(--vw_55);
    }
    .product-data {
      padding-top: var(--vw_42);
      .product-attr {
        flex-direction: column;
        height: auto;
        .attr{
          padding: var(--vw_3);
          &::after{
            content: '';
            padding: 0;
          }
        }
      }
    }
  }
}