main.single{
  section{
    padding: var(--vw_55) var(--vw_178) 0;
    h2{
      font-size: var(--vw_68);
      padding-bottom: var(--vw_55);
    }
    h4{
      font-size: var(--vw_42);
      padding-bottom: var(--vw_34);
    }
    p{
      font-size: var(--vw_21);
      line-height: var(--vw_42);
      span{
        font-weight: 600;
      }
    }
    .space-top{
      padding-top: var(--vw_34);
    }
    .data{
      padding-bottom: var(--vw_16);
    }

    .border{
      border: 2px solid var(--mc_pink_light);
      padding: var(--vw_34);
    }
    &:last-child{
      padding-bottom: var(--vw_68);
    }
  }
  @media all and (max-width: 768px) {
    section {
      padding: var(--vw_42) var(--vw_16);
      h2{
        font-size: var(--vw_42);
        padding-bottom: var(--vw_34);
      }
      h4{
        font-size: var(--vw_26);
        padding-bottom: var(--vw_16);
      }
      p{
        font-size: var(--vw_16);
        line-height: var(--vw_26);
      }
      .space-top{
        padding-top: var(--vw_26);
      }
      &:last-child{
        padding-bottom: var(--vw_42);
      }
    }
  }
}