article.popup__size{
  .title{
    font-size: var(--vw_21);
    text-align: center;
  }
  .table{
    padding-top: var(--vw_34);
    padding-bottom: var(--vw_16);
    .data{
      height: var(--vw_55);
      text-align: center;
      width: 20%;
      float: left;
      font-size: var(--vw_21);
      font-weight: 300;
      line-height: var(--vw_55);
      border-left: 1px solid #C4C4C4;
      border-top:  1px solid #C4C4C4;
      &:last-child{
        border-right: 1px solid #C4C4C4;
      }
      &.no-border{
        border: none;
      }
    }
    .row{
      &:last-child{
        .data{
          border-bottom: 1px solid #C4C4C4;
        }
      }
    }
  }
  @media all and (max-width: 768px) {
    .table {
      .data {
        font-size: var(--vw_16);
      }
    }
  }
}