section.popup{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('/assets/img/icons/close_mouse.png') 32 32, auto;
  .popup-data{
    cursor: default;
    width: 100%;
    max-width: var(--vw_754);
    background-color: var(--mc_pink_light);
    padding: var(--vw_26) var(--vw_42);
  }
  @media all and (max-width: 768px) {
    padding: var(--vw_8);
    .popup-data{
      padding: var(--vw_16);
    }
  }
}

@import "popup__size";