<template>
    <main class="category" :class="{blur: isBlur}">
        <div class="filter-block">
            <Sorting/>
            <Filters/>
        </div>
        <div class="products-container">
            <article class="product" v-for="product in products">
                <div class="product-data">
                    <div class="add-to-favorite" @click="setToFavorite(product.id)">
                        <i class="fa fa-star" aria-hidden="true" v-if="isProductInFavorite(product.id)"></i>
                        <i class="fa fa-star-o" aria-hidden="true" v-else></i>
                    </div>
                    <router-link :to="{name: 'product', params: {name: product.id}}" class="image">
                        <img :src="product.images.main">
                    </router-link>
                    <div class="product-description">
                        <div class="colors-container">
                            <div class="colors">
                                <span class="color bg-color" v-for="color in $store.getters['colors/getColorsByID'](product.colors)" :class="color.className"></span>
                            </div>
                        </div>
                        <router-link :to="{name: 'product', params: {name: product.id}}" class="title">{{product.title}}</router-link>
                        <router-link :to="{name: 'product', params: {name: product.id}}" class="price" :class="{sale: isProductSale(product.id)}">
                            <div class="old-price" v-if="isProductSale(product.id)">{{product.oldPrice}}</div>
                            {{product.price}}<span>{{currency}}</span>
                        </router-link>
                        <router-link :to="{name: 'product', params: {name: product.id}}" class="more"><span class="arrow"></span></router-link>
                    </div>
                </div>
            </article>
        </div>
    </main>
</template>

<script>
    import Sorting from '@/components/parts/Sorting'
    import Filters from "../components/parts/Filters"
    import {main, product} from '@/mixins'

    export default {
        name: "Category",
        mixins: [main, product],
        components: {Filters, Sorting},
        computed: {
            category() {
                return this.$store.getters['categories/getCategoryByKey'](this.$route.params.name);
            },
            products() {
                let products = this.$store.getters['products/getProductsByCategory'](this.category.id);
                let sortingProducts = this.$store.getters['sorting/getSortProducts'](products);

                return this.$store.getters['attributes/getFiltredProducts'](sortingProducts);
            },
            currency() {
                return this.$store.state.main.currency;
            },
            isBlur() {
                return this.$store.state.main.navigation.isOpen || this.$store.state.main.history.isOpen || this.$store.state.main.favorite.isOpen || this.$store.state.cart.isOpen
            }
        },
    }
</script>