<template>
    <main class="checkout">
        <section class="header">
            <div class="header-data"></div>
            <div class="menu-block logo-data">
                <router-link :to="{name: 'home'}">LOV2LOV</router-link>
            </div>
            <div class="header-data">
                <router-link :to="{name: 'home'}">Назад в магазин</router-link>
            </div>
        </section>
        <section class="checkout-data">
            <div class="subtitle">Вам осталось указать контакты, способ оплаты и доставки.</div>
            <div class="checkout-container">
                <div class="column">
                    <div class="title">Контакты</div>
                    <div class="form-data">
                        <div class="field">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Телефон">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Емейл">
                        </div>
                        <div class="field field__checkbox">
                            <input type="checkbox" id="mailchimp">
                            <label for="mailchimp">Хочу рассылочку</label>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="title">Оплата</div>
                    <div class="form-data">
                        <div class="field field__radio">
                            <input type="radio" id="pay-card" name="pay">
                            <label for="pay-card">Картой на сайте</label>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="•••• •••• •••• ••••" class="card-data">
                        </div>
                        <div class="field field__card-data">
                            <input type="text" placeholder="mm/yy" class="card-data card-data_date">
                            <input type="text" placeholder="CSV" class="card-data card-data_csv">
                        </div>
                        <div class="field field__radio">
                            <input type="radio" id="pay-pay_pal" name="pay">
                            <label for="pay-pay_pal">Картой на сайте</label>
                        </div>
                        <div class="field field__radio">
                            <input type="radio" id="pay-nal" name="pay">
                            <label for="pay-nal">Наличными курьеру</label>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="title">Доставка</div>
                    <div class="form-data">
                        <div class="field field__radio">
                            <input type="radio" id="post-moscow" name="post">
                            <label for="post-moscow">Курьером по Москве</label>
                        </div>
                        <div class="field field__radio">
                            <input type="radio" id="post-sdek" name="post">
                            <label for="post-sdek">Россия - СДЕК</label>
                        </div>
                        <div class="field field__radio">
                            <input type="radio" id="post-ems" name="post">
                            <label for="post-ems">Мир - EMS</label>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Страна">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Город">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Улица">
                        </div>
                        <div class="field house-data">
                            <input type="text" placeholder="Дом">
                            <input type="text" placeholder="Кв">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="title">Checkout</div>
                    <div class="form-data">
                        <div class="data">
                            <div>Покупка:</div>
                            <div class="price">{{cartTotal}}<span class="currency">{{currency}}</span></div>
                        </div>
                        <div class="data">
                            <div>Доставка:</div>
                            <div class="price">{{delivery.price}}<span class="currency">{{currency}}</span></div>
                        </div>
                        <div class="hr"></div>
                        <div class="data data__total">
                            <div>Сумма:</div>
                            <div class="price">{{delivery.price + cartTotal}}<span class="currency">{{currency}}</span></div>
                        </div>
                        <div class="button button__black button__pay">Оплатить</div>
                        <div class="field">
                            <input type="text" placeholder="Использовать промокод" class="promocode">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "Checkout",
        data() {
            return {
                delivery: {
                    price : 500
                }
            }
        },
        computed: {
            currency() {
                return this.$store.state.main.currency;
            },
            cartTotal(){
                let cartTotal = 0;

                this.$store.state.cart.list.forEach(item => {
                    let productData = this.$store.getters['products/getProductByID'](item.product_id);
                    console.log(productData);
                    cartTotal += item.count * productData.price;
                });

                return cartTotal;
            }
        }
    }
</script>