<template>
    <main class="contacts single">
        <section>
            <h2>Контакты</h2>
            <div class="data">
                <h4>Нас можно найти здесь</h4>
                <p>м. Новокузнецкая, ул. Пятницкая, д. 3/4, стр.2</p>
                <p>Ежедневно 12.00—21.00</p>
            </div>
            <div class="data space-top">
                <h4>Свяжитесь с нами</h4>
                <p><a href="tel:+79167909979">Phone: +7 (916) 790-99-79</a></p>
                <p><a href="https://www.instagram.com/lov2lov_moscow/">Instagram: @lov2lov_moscow</a></p>
                <p><a href="mailto:info@lov2lov.com">Email: info@lov2lov.com</a></p>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "Contacts"
    }
</script>