<template>
    <main class="delivery single">
        <section class="main-container">
            <h2>Доставка и оплата</h2>
            <div class="data">
                <h4>Доставка по Москве</h4>
                <p><span>Курьером в пределах МКАД</span> – 300 руб.</p>
                <p><span>Курьером в пределах за МКАД</span> – стоимость уточнит менеджер</p>
                <p class="space-top"><span>Оплата</span>: наличными курьеру при доставке либо переводом онлайн</p>
            </div>
            <div class="data space-top">
                <h4>Доставка по России</h4>
                <p><span>Отправка СДЭК</span></p>
                <p><span>Почта России </span> / Обычное отправление или экспресс /</p>
                <p class="space-top">Стоимость доставки зависит от региона и уточняется через менеджера</p>
                <p><span>Оплата</span>: 100% предоплата переводом онлайн</p>
            </div>
            <div class="data space-top">
                <h4>Доставка по всему миру</h4>
                <p><span>EMS Post</span></p>
                <p class="space-top">Стоимость доставки уточняется менеджером</p>
                <p><span>Оплата</span>: PayPal</p>
            </div>
        </section>
        <section>
            <div class="border">
                <h2>Возврат и обмен</h2>
                <div class="data">
                    <p>Возврат товара осуществляется при наличии чека, подтверждающего факт покупки, и заполненного бланка возврата в течение 14 дней с момента покупки.</p>
                    <p>Изделие принимается к возврату исключительно при условии сохранения его потребительских свойств и товарного вида. На одежде и аксессуарах, подлежащих возврату, должны отсутствовать следы эксплуатации и носки. Вместе с изделием возврату подлежат оригинальная упаковка и ярлыки.</p>
                    <p>Возврат производится по адресу ул. Пятницкая, д. 3/4, стр. 2, при себе вам необходимо иметь пакет документов (заявление на возврат, копию паспорта и товарный чек).</p>
                    <p>При региональных и международных отправлениях возможен только обмен размера при наличии данной модели на складе. Все транспортные расходы оплачиваются заказчиком. Возврат товара возможен только в случае производственного брака, все изделия проходят тщательный контроль перед отправлением.</p>
                    <p>Отдельные категории товаров не подлежат возврату и обмену, согласно постановлению Правительства РФ.</p>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        name: "Delivery"
    }
</script>