<template>
  <main class="home" :class="{blur: isBlur}">
    <section class="carousel carousel__on-main-page">
      <carousel :responsive="{0:{items:1, nav:false},600:{items:4,nav:false}}">
        <article class="carousel-post" v-for="product in products">
          <div class="add-to-favorite" @click="setToFavorite(product.id)">
            <i class="fa fa-star" aria-hidden="true" v-if="isProductInFavorite(product.id)"></i>
            <i class="fa fa-star-o" aria-hidden="true" v-else></i>
          </div>
          <div class="carousel-data">
            <router-link :to="{name: 'product', params: {name: product.id}}">
              <img :src="product.images.main" :alt="product.title">
            </router-link>
            <router-link :to="{name: 'product', params: {name: product.id}}" class="description">
              <div class="title text__bold">{{product.title}}</div>
              <div class="categories">
                <span v-for="category in $store.getters['categories/getCategoriesByID'](product.category)">
                  {{category.name}}
                </span>
                <i class="arrow"></i>
              </div>
            </router-link>
          </div>
        </article>
      </carousel>
    </section>
    <section class="text-block">
      <h1 class="logo">LOV2LOV</h1>
      <div class="logo-description">
        Философия красоты и женственности.<br>
        Собственное производство с доставкой по всему миру
      </div>
      <router-link :to="{name: 'category', params: {name: 'all'}}" class="button button__black">Посмотреть все товары</router-link>
    </section>
    <div class="container__fw">
      <section class="image-block">
        <img src="/assets/img/templates/main_page_2.jpg">
      </section>
      <Types/>
      <Welcome/>
      <Friends/>
    </div>
      <Footer/>
  </main>
</template>

<script>
// @ is an alias to /src
import carousel from 'vue-owl-carousel'
import Types from '@/components/Types'
import Welcome from '@/components/Welcome'
import Friends from '@/components/Friends'
import Footer from "@/components/Footer"
import {product} from '@/mixins'

export default {
    name: 'home',
    components: {Footer, carousel, Types, Welcome, Friends},
    mixins: [product],
    computed: {
        products(){
            return this.$store.state.products.list.slice(0, 12);
        },
        isBlur() {
            return this.$store.state.main.navigation.isOpen || this.$store.state.main.history.isOpen || this.$store.state.main.favorite.isOpen || this.$store.state.cart.isOpen
        }
    }
}
</script>
