<template>
    <main class="product" :class="{blur: isBlur}">
        <div class="product-container">
            <div class="mobile-data">
                <div class="mobile-header">
                    <div class="sizes-description" @click="openPopupSize()">#</div>
                    <div class="categories">
                        <span v-for="cat in product.categoryData">
                            {{cat.name}}
                        </span>
                    </div>
                    <div class="add-to-favorite" @click="setToFavorite(product.id)">
                        <i class="fa fa-star" aria-hidden="true" v-if="isProductInFavorite(product.id)"></i>
                        <i class="fa fa-star-o" aria-hidden="true" v-else></i>
                    </div>
                </div>
                <h2>{{product.title}}</h2>
            </div>
            <div class="slider-gallery">
                <carousel :items="1" :nav="true" :key="product.id">
                    <div class="slide-image">
                        <img :src="product.images.main">
                    </div>
                    <div class="slide-image" v-for="(image, index) in product.images.gallery" :key="product.id + '_' + index">
                        <img :src="image">
                    </div>
                </carousel>
                <div class="colors">
                    <div class="color-data" v-for="color in $store.getters['colors/getColorsByID'](product.colors)">
                        <span class="color bg-color" :class="[color.id === formData.color_id ? 'active' : '' , color.className]" @click="setColor(color.id)"></span>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar-data">
                    <div class="add-to-favorite" @click="setToFavorite(product.id)">
                        <i class="fa fa-star" aria-hidden="true" v-if="isProductInFavorite(product.id)"></i>
                        <i class="fa fa-star-o" aria-hidden="true" v-else></i>
                    </div>
                    <div class="categories">
                            <span v-for="cat in product.categoryData">
                                {{cat.name}}
                            </span>
                    </div>
                    <div class="product-name">{{product.title}}</div>
                    <div class="sizes">
                        <div class="size" v-for="size in sizes" :class="{active: size.id === formData.size_id}" @click="setSize(size.id)">
                            {{size.name}}
                        </div>
                    </div>
                    <div class="sizes-description">
                        <div class="sizes-data-title" @click="openPopupSize()">Размерная сетка</div>
                    </div>
                    <div class="buy-block">
                        <div class="price" :class="{sale: isProductSale(product.id)}">
                            <div class="old-price" v-if="isProductSale(product.id)">
                                {{product.oldPrice}}
                            </div>
                            {{product.price}}
                            <span>{{currency}}</span>
                        </div>
                        <div class="buy-button button button__black" @click="setToCart()">
                            <div class="errors" v-if="errors.viewErrors">
                                <div class="error" v-if="formData.color_id === ''">{{errors.color}}</div>
                                <div class="error" v-if="formData.size_id === ''">{{errors.size}}</div>
                            </div>
                            В корзину
                        </div>
                    </div>
                </div>
                <div class="product-data">
                    <div class="product-attr">
                        <div class="attr" v-for="attr in product.attr">
                            {{attr.name}} {{attr.count}}<span>{{attr.unit}}</span>
                        </div>
                    </div>
                    <div class="product-description">{{product.description}}</div>
                </div>
                <div class="meta-data">
                    <div class="meta">
                        Рост модели
                        <span>{{product.meta.modelHeight}} см</span>
                    </div>
                    <div class="meta">
                        Размер
                        <span>{{product.meta.modelSize}}</span>
                    </div>
                </div>
            </div>
        </div>

    </main>
</template>

<script>
    import {main, product} from '@/mixins'
    import carousel from 'vue-owl-carousel'

    export default {
        name: "Product",
        mixins: [main, product],
        components: {carousel},
        data() {
            return {
                formData: {
                    color_id: '',
                    size_id: '',
                    count: 1,
                },
                errors: {
                    viewErrors: false,
                    color: 'Выберете пожалуйста цвет',
                    size: 'Выберете пожалуйста размер'
                }
            }
        },
        computed: {
            product() {
                let productData = this.getProductDataByID(Number(this.$route.params.name));

                this.formData.color_id = productData.colors[0];

                return productData;
            },
            currency() {
                return this.$store.state.main.currency;
            },
            sizes() {
                return this.$store.state.sizes.list;
            },
            isBlur() {
                return this.$store.state.main.navigation.isOpen || this.$store.state.main.history.isOpen || this.$store.state.main.favorite.isOpen || this.$store.state.cart.isOpen
            },
        },
        methods: {
            /* Dots in carousel width img*/
            dotsImages(){
                let items = document.querySelectorAll('.slide-image'),
                    dots = document.querySelectorAll('.owl-dots .owl-dot');

                items.forEach((item, index) => {
                    let image_src = item.getElementsByTagName('img')[0].getAttribute('src');
                    dots[index].innerHTML = `<img src='${image_src}'>`;
                });

            },
            openPopupSize() {
                this.$store.commit('main/setPopup', 'size');
            },
            setColor(id) {
                this.formData.color_id = id;
            },
            setSize(id) {
                this.formData.size_id = id;
            },
            setToCart() {
                let data = this.formData;

                if (data.size_id === '' || data.color_id === '') {
                    this.errors.viewErrors = true;
                    return;
                }

                this.errors.viewErrors = false;
                let productsInCart = this.$store.state.cart.list;
                data.product_id = this.product.id;

                data.id = productsInCart.length ? productsInCart[productsInCart.length - 1].id + 1 : 0;

                productsInCart.push(data);

                this.$store.commit('cart/setProductInCart', productsInCart);
            },
            setToHistory(id) {
                let historyList = this.$store.state.main.history.productsID;

                historyList.push(id);

                this.$store.commit('main/setProductInHistory', historyList);
            },
        },
        watch: {
            product: function (newVal, oldVal) {
                this.setToHistory(newVal.id);
                this.errors.viewErrors = false;
                this.formData.color_id = newVal.colors[0];
                this.formData.size_id = '';

                setTimeout(() => {
                    this.dotsImages();
                }, 300)
            }
        },
        created() {
            this.setToHistory(this.product.id);
        },
        mounted(){
           this.dotsImages();
        },

    }
</script>