<template>
    <article class="popup-data popup__size">
        <div class="sizes-data">
            <div class="title">Размеры указаны в сантиметрах</div>
            <div class="table">
                <div class="row">
                    <div class="data no-border"></div>
                    <div class="data">XS</div>
                    <div class="data">S</div>
                    <div class="data">M</div>
                    <div class="data">L</div>
                </div>
                <div class="row">
                    <div class="data">Бюст</div>
                    <div class="data">85-90</div>
                    <div class="data">90-95</div>
                    <div class="data">95-100</div>
                    <div class="data">100-110</div>
                </div>
                <div class="row">
                    <div class="data">Талия</div>
                    <div class="data">55-60</div>
                    <div class="data">60-65</div>
                    <div class="data">65-70</div>
                    <div class="data">70-80</div>
                </div>
                <div class="row">
                    <div class="data">Бедра</div>
                    <div class="data">85-90</div>
                    <div class="data">90-95</div>
                    <div class="data">95-105</div>
                    <div class="data">105-115</div>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
    export default {
        name: "Size"
    }
</script>