<template>
    <section class="favorite-section" :class="{active: $store.state.main.favorite.isOpen}">
        <article class="sidebar-product history-product" v-for="product in products">
            <div class="favorite-button" @click="deleteProductInFavorite(product.id)">
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="image">
                <img :src="product.images.main">
            </div>
            <div class="description">
                <router-link :to="{name: 'product', params: {name: product.id}}" class="title">{{product.title}}</router-link>
                <div class="price">{{product.price}}<span class="currency">{{$store.state.main.currency}}</span></div>
                <div class="colors">
                    <span class="color bg-color" v-for="color in $store.getters['colors/getColorsByID'](product.colors)" :class="color.className"></span>
                </div>
            </div>
            <router-link :to="{name: 'product', params: {name: product.id}}" class="more"><span class="arrow"></span></router-link>
        </article>
    </section>
</template>

<script>

    export default {
        name: "Favorite",
        computed: {
            products() {
                return this.$store.getters['products/getProductsByID'](this.$store.state.main.favorite.productsID);
            }
        },
        methods: {
            deleteProductInFavorite(product_id) {
                let favoriteList = this.$store.state.main.favorite.productsID;
                let indexFavoriteProduct = favoriteList.findIndex(id => id === product_id);

                if (indexFavoriteProduct !== -1) {
                    favoriteList.splice(indexFavoriteProduct, 1);
                    this.$store.commit('main/setProductInFavorite', favoriteList);
                }
            }
        }
    }
</script>