<template>
    <header>
        <section class="top-header">
            <div class="menu-block-part">
                <div class="icon" :class="{'menu-open': menuIsOpened}" @click="openMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <span @click="openMenu()">MENU</span>
            </div>
            <div class="menu-block logo-data">
                <router-link :to="{name: 'home'}">LOV2LOV</router-link>
            </div>
            <div class="menu-block-part cart-part button button__pay" @click="openCart()">
                <div class="count">{{counter}}</div>
                <img src="/assets/img/icons/shoping_bag_black.svg">
                <div class="name">Корзина</div>
            </div>
        </section>
        <Navigation/>
    </header>
</template>

<script>
    import Navigation from '@/components/header/Navigation'

    export default {
        name: "TopHeader",
        components: {
          Navigation
        },
        computed: {
            menuIsOpened(){
                return this.$store.state.main.menu.isOpen
            },
            counter() {
                return this.$store.getters['cart/getCountProductsInCart'];
            },
            currency() {
                return this.$store.state.main.currency;
            },
            cartTotal() {
                let cartTotal = 0,
                    list = this.$store.state.cart.list;

                if (list.length) {
                    list.forEach(item => {
                        let productData = this.$store.getters['products/getProductByID'](item.product_id);

                        cartTotal += item.count * productData.price;
                    });
                }

                return cartTotal;
            }
        },
        methods: {
            openMenu(){
                this.$store.commit('main/setMenuStatus', true);
                document.querySelector('body').classList.add('menu-opened');
            },
            openCart(){
                this.$store.commit('cart/setIsOpen', true);
                this.$store.commit('main/setCloseModal', true);
            }
        }
    }
</script>