<template>
    <section class="navigation">
        <div class="history" :class="{active: $store.state.main.history.isOpen}">
            <div class="menu-item" @click="setHistoryStatus()">История</div>
        </div>
        <div class="category-list">
            <div class="menu-cat" v-for="cat in catList" :class="{active: cat.key === menuActiveName}">
                <div class="menu-item" :class="cat.customClass" @click="setMenuActive(cat.key)">{{cat.name}}</div>
                <div class="more-products" v-if="menuActiveName === cat.key">
                    <carousel :items="8" :nav="true" :dots="false">
                        <div class="product-demo"
                             v-for="product in $store.getters['products/getProductsByCategorySlice'](cat.id, 12)">
                            <div class="add-to-favorite" @click="setToFavorite(product.id)">
                                <i class="fa fa-star" aria-hidden="true" v-if="isProductInFavorite(product.id)"></i>
                                <i class="fa fa-star-o" aria-hidden="true" v-else></i>
                            </div>
                            <div class="product-container">
                                <div class="product-image">
                                    <router-link :to="{name: 'product', params: {name: product.id}}"
                                                 @click.native="setMenuActive('')"><img :src="product.images.main"/>
                                    </router-link>
                                    <div class="colors-container">
                                        <div class="colors">
                                            <span class="color bg-color"
                                                  v-for="color in $store.getters['colors/getColorsByID'](product.colors)"
                                                  :class="color.className"></span>
                                        </div>
                                    </div>
                                </div>
                                <router-link :to="{name: 'product', params: {name: product.id}}" class="title"
                                             @click.native="setMenuActive('')">{{product.title}}
                                </router-link>
                                <router-link :to="{name: 'product', params: {name: product.id}}" class="data"
                                             @click.native="setMenuActive('')">
                                    <div class="price" :class="{sale: isProductSale(product.id)}">
                                        <div class="old-price" v-if="isProductSale(product.id)">{{product.oldPrice}}
                                        </div>
                                        {{product.price}} <span class="currency">{{currency}}</span>
                                    </div>
                                </router-link>

                                <router-link :to="{name: 'product', params: {name: product.id}}" class="more"
                                             @click.native="setMenuActive('')"><span class="arrow"></span></router-link>
                            </div>
                        </div>
                    </carousel>
                    <div class="more-button">
                        <div class="close-navigation" @click="closeNavigation(['navigation'])">Закрыть</div>
                        <router-link :to="{name: 'category', params: {name: cat.key}}" :key="cat.id"
                                     class="more-products-button" @click.native="setMenuActive('')">Смотреть все платья
                            в каталоге<span class="arrow"></span></router-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="favorites" :class="{active: $store.state.main.favorite.isOpen}">
            <div class="menu-item" @click="setFavoriteStatus()">Избранное</div>
        </div>
        <History/>
        <Favorite/>
    </section>
</template>

<script>
    import carousel from 'vue-owl-carousel'
    import History from '@/components/header/History'
    import Favorite from '@/components/header/Favorite'
    import {main, product} from '@/mixins'

    export default {
        name: "Navigation",
        mixins: [main, product],
        components: {carousel, History, Favorite},
        computed: {
            catList() {
                return this.$store.state.categories.list;
            },
            currency() {
                return this.$store.state.main.currency;
            },
            menuActiveName() {
                return this.$store.state.main.navigation.isOpen;
            }
        },
        methods: {
            setMenuActive(menuKey) {
                if (window.innerWidth > 768) {
                    if (menuKey === 'all') {
                        this.$router.push({name: 'category', params: {name: 'all'}});
                        this.closeNavigation(['history', 'favorite', 'navigation']);
                    } else {
                        this.$store.commit('main/setNavigationStatus', menuKey === this.menuActiveName ? '' : menuKey);
                        this.closeNavigation(['history', 'favorite']);
                    }
                } else {
                    this.$router.push({name: 'category', params: {name: menuKey}});
                }

            },
            setHistoryStatus() {
                this.closeNavigation(['favorite', 'navigation']);
                this.$store.commit('main/setHistoryStatus', !this.$store.state.main.history.isOpen);
            },
            setFavoriteStatus() {
                this.closeNavigation(['history', 'navigation']);
                this.$store.commit('main/setFavoriteStatus', !this.$store.state.main.favorite.isOpen);
            }
        }
    }
</script>