<template>
    <section class="cart" :class="{active: isOpen}">
        <div class="button__data button__close">
            <div class="title" @click="closeCart()">Закрыть</div>
        </div>
        <div class="data">
            <article class="cart-product" v-for="product in products">
                <div class="remove-product" @click="deleteProductInCart(product.id_in_cart)"></div>
                <div class="image">
                    <img :src="product.thumbnail">
                </div>
                <div class="product-data">
                    <div class="title">{{product.title}}</div>
                    <div class="description">
                        <div class="attr">Цвет: <span>{{product.color}}</span></div>
                        <div class="attr">Размер: <span>{{product.size}}</span></div>
                    </div>
                    <div class="price">
                        <div class="price-data">{{product.price}}<span class="currency">{{currency}}</span></div>
                        <div class="counter">
                            <div class="decrement set-counter" @click="setCount(product.id_in_cart, '-')">-</div>
                            {{product.count}}
                            <div class="increment set-counter" @click="setCount(product.id_in_cart, '+')">+</div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="button button__pay" @click="goToCheckout()">
            <div class="count">{{counter}}</div>
            <img src="/assets/img/icons/shoping_bag_white.svg">
            <div class="name">Оплата</div>
            <div class="total">{{cartTotal}}<span class="currency">{{currency}}</span></div>
            <span class="arrow arrow__white"></span>
        </div>
    </section>
</template>

<script>
    import {main} from '@/mixins'

    export default {
        name: "Cart",
        mixins: [main],
        data() {
            return {
                cartTotal: 0
            }
        },
        computed: {
            counter() {
                return this.$store.getters['cart/getCountProductsInCart'];
            },
            currency() {
                return this.$store.state.main.currency;
            },
            products() {
                let products = [],
                    cartTotal = 0,
                    list = this.$store.state.cart.list;

                if (list.length) {
                    list.forEach(item => {
                        let productData = this.$store.getters['products/getProductByID'](item.product_id),
                            colorData = this.$store.getters['colors/getColorByID'](item.color_id),
                            sizeData = this.$store.getters['sizes/getSizeByID'](item.size_id);
                        let product = {
                            id: item.product_id,
                            id_in_cart: item.id,
                            title: productData.title,
                            thumbnail: productData.images.main,
                            price: productData.price,
                            count: item.count,
                            color: colorData.name,
                            size: sizeData.name
                        };
                        products.push(product);
                        cartTotal += product.count * product.price;
                    });
                }

                this.cartTotal = cartTotal;

                return products;
            },
            isOpen() {
                return this.$store.state.cart.isOpen;
            }
        },
        methods: {
            setCount(id, status) {
                this.$store.commit('cart/setCount', {id: id, status: status});
            },
            goToCheckout() {
                this.$router.push({name: 'checkout'});
                this.$store.commit('cart/setIsOpen', false);
            },
            closeCart() {
                this.closeNavigation(['cart']);
            },
            deleteProductInCart(product_id_in_cart) {
                let products = this.$store.state.cart.list;
                let productIndex = products.findIndex(prod => prod.id === product_id_in_cart);

                console.log(productIndex);

                if (productIndex !== -1) {
                    products.splice(productIndex, 1);
                    this.$store.commit('cart/setProductInCart', products);
                }
            }
        }
    }
</script>