<template>
    <footer>
        <Socials/>
        <div class="navigation">
            <router-link to="/">О нас</router-link>
            <div @click="openPopupSize()" class="link">Размерная сетка</div>
            <router-link :to="{name: 'delivery'}">Доставка и оплата</router-link>
            <router-link :to="{name: 'contacts'}">Контакты</router-link>
        </div>
        <div class="sale">
            <router-link to="/" class="text__bold text__red">Sale</router-link>
        </div>

    </footer>
</template>

<script>
    import Socials from '@/components/parts/Socials'

    export default {
        name: "Footer",
        components: {Socials},
        methods: {
            openPopupSize() {
                this.$store.commit('main/setPopup', 'size');
            },
        }
    }
</script>