<template>
    <section class="friends">
        <h3>INSTASHOP</h3>
        <div class="friends-block">
            <article class="friend" v-for="friend in friends">
                <img :src="friend.image">
                <div class="friend-data">
                    <div class="product">
                        <div class="categories">
                            <span v-for="cat in getProductDataByID(friend.productID).categoryData">
                                {{cat.name}}
                            </span>
                        </div>
                        <router-link :to="{name: 'product', params: {name: getProductDataByID(friend.productID).id}}">{{getProductDataByID(friend.productID).title}}</router-link>
                    </div>
                    <div class="name">
                        <a :href="friend.instagram" target="_blank">{{friend.name}}</a>
                    </div>
                </div>
            </article>
        </div>
    </section>
</template>

<script>
    import {product} from '@/mixins'

    export default {
        name: "Friends",
        mixins: [product],
        computed: {
            friends() {
                return this.$store.state.friends.list;
            }
        }
    }
</script>