<template>
    <section class="menu" :class="{'menu-open' : menuIsOpened}">
        <div class="icon icon__exit" @click="closeMenu()">
            <span></span>
            <span></span>
        </div>
        <div class="menu-block">
            <div class="mobile">
                <div class="menu-item" @click="setFavoriteStatus()" v-if="favorite.length">Избранное <i class="fa fa-star-o"
                                                                                 aria-hidden="true"></i></div>
                <div class="menu-item" @click="setHistoryStatus()" v-if="history.length">История <i class="fa fa-repeat"
                                                                              aria-hidden="true"></i></div>
            </div>
            <!--<router-link :to="{name: 'about'}">О нас</router-link>-->
            <router-link :to="{name: 'delivery'}" v-on:click.native="closeMenu()">Доставка</router-link>
            <router-link :to="{name: 'contacts'}" v-on:click.native="closeMenu()">Контакты</router-link>
        </div>
        <div class="social-block">
            <Socials/>
        </div>
    </section>
</template>

<script>
    import Socials from '@/components/parts/Socials'
    import {main} from '@/mixins'

    export default {
        name: "Menu",
        mixins: [main],
        components: {Socials},
        computed: {
            menuIsOpened() {
                return this.$store.state.main.menu.isOpen
            },
            history() {
                return this.$store.state.main.history.productsID;
            },
            favorite() {
                return this.$store.state.main.favorite.productsID;
            }
        },
        methods: {
            closeMenu() {
                this.$store.commit('main/setMenuStatus', false);
                document.querySelector('body').classList.remove('menu-opened');
            },
            setHistoryStatus() {
                this.closeNavigation(['menu', 'favorite']);
                this.$store.commit('main/setHistoryStatus', !this.$store.state.main.history.isOpen);
            },
            setFavoriteStatus() {
                this.closeNavigation(['menu', 'history']);
                this.$store.commit('main/setFavoriteStatus', !this.$store.state.main.favorite.isOpen);
            }
        }
    }
</script>
