<template>
    <section class="types">
        <h3>Категории</h3>
        <div class="types-block row">
            <article class="type-post col col__1-6" v-for="type in types">
                <router-link :to="{name: 'type', params: {name: type.key}}" class="type-data">
                    <img :src="type.image" :alt="type.name">
                    <div class="description">
                        <div class="name" :class="type.customClass">{{type.name}}</div>
                        <i class="arrow"></i>
                    </div>
                </router-link>
            </article>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Types",
        data(){
            return {

            }
        },
        computed: {
            types() {
                return this.$store.state.types.list;
            }
        }
    }
</script>