<template>
    <section class="welcome">
        <div class="title text__bold">Будь в курсе новостей LOV2LOV</div>
        <div class="description">Скидки, акции, последние новинки</div>
        <section class="form">
            <div class="field">
                <input type="text" placeholder="Email">
            </div>
            <div class="field">
                <input type="submit" value="Подписаться">
            </div>
        </section>
    </section>
</template>

<script>
    export default {
        name: "Welcome"
    }
</script>