<template>
    <section class="filters" :class="{active: isActive}">
        <div class="title" @click="openFilters()">
            <span class="status"></span>
            Фильтры:
        </div>
        <div class="clearfix"></div>
        <div class="active-filters">
            <span v-for="filter in $store.getters['attributes/getActiveFilters']" @click="deleteFilter(filter.attr_id, filter.id)">
                {{filter.name}}
            </span>
        </div>
        <div class="filter-by-container">
            <div class="filter" v-for="attr in attributes">
                <div class="filter-title">{{attr.title}}</div>
                <div
                    class="filter-by-data"
                    v-for="data in attr.data"
                    :class="{active: attr.activeData.find(id => id === data.id) !== undefined}"
                    @click="addFilter(attr.id, data.id)"
                >
                    <div class="filter-data">{{data.name}}</div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {main} from '@/mixins'

    export default {
        mixins: [main],
        name: "Filters",
        // data() {
        //     return {
        //         isActive: false
        //     }
        // },
        computed: {
            filters() {
                return this.$store.state.main.filters;
            },
            attributes() {
                return this.$store.getters['attributes/getAtrributesByID'](this.filters)
            },
            isActive() {
                return this.$store.state.main.isOpenFilter;
            }
        },
        methods: {
            addFilter(attr_id, filter_id) {
                // this.isActive = false;
                this.$store.commit('attributes/setFilterToAttribute', {attr_id: attr_id, filter_id: filter_id});
            },
            deleteFilter(attr_id, filter_id) {
                let attribute = this.$store.state.attributes.list.find(attr => attr.id === attr_id);
                let filterIndexID = attribute.activeData.findIndex(id => id === filter_id),
                    filters = attribute.activeData;

                filters.splice(filterIndexID, 1);

                this.$store.commit('attributes/setAttrActiveData', {attr_id: attr_id, filters: filters});
            },
            openFilters() {
                this.$store.commit('main/setIsOpenFilter', true);
                this.$store.commit('main/setCloseModal', true);
            }
        }
    }
</script>