<template>
    <section class="socials">
        <a class="social" v-for="social in socials" :href="social.link" target="_blank">
            <i class="fa" :class="social.icon" aria-hidden="true"></i>
        </a>
    </section>
</template>

<script>
    export default {
        name: "Socials",
        computed: {
            socials() {
                return this.$store.state.socials.list;
            }
        }
    }
</script>