<template>
    <section class="sorting" :class="{active: isActive}">
        <div class="title" @click="openSort()">
            Сортировать:
            <span class="status"></span>
        </div>
        <div class="sort-by-container">
            <div
                class="sort-by"
                v-for="sort in sorting"
                :class="{active: sort.key === $store.state.sorting.activeKey}"
                @click="setSort(sort.key)"
            >
                {{sort.name}}
            </div>
        </div>
    </section>
</template>



<script>
    import {main} from '@/mixins'

    export default {
        mixins: [main],
        name: "Sort",
        computed: {
            sorting() {
                return this.$store.state.sorting.list;
            },
            isActive() {
                return this.$store.state.main.isOpenSorting;
            }
        },
        methods: {
            openSort() {
                // this.isActive = true;
                this.$store.commit('main/setIsOpenSorting', true);
                this.$store.commit('main/setCloseModal', true);
            },
            setSort(key) {
                // this.isActive = false;
                this.$store.commit('sorting/setActiveKey', key);
                this.closeNavigation(['sorting']);

            }
        }
    }
</script>