<template>
  <div id="app">
    <Header v-if="route !== 'checkout'"/>
    <router-view @click.native="closeBlur()" />
    <Menu/>
    <Cart/>
    <Popup/>
    <section class="close-modal" @click="closeModal()" :class="{active: $store.state.main.closeModal}"></section>
  </div>
</template>

<script>
  import Header from './components/header/Header'
  import Menu from '@/components/Menu'
  import Cart from '@/components/Cart'
  import Popup from '@/popup/Popup'
  import {main} from '@/mixins'

  export default {
      name: "App",
      mixins: [main],
      components: {Header, Menu, Cart, Popup},
      computed: {
          route(){
              return this.$route.name;
          }
      },
      methods: {
          closeBlur(event){
              let tagMain = document.getElementsByTagName('main')[0];

              if (tagMain.classList.contains('blur')) {
                  this.$store.commit('main/setNavigationStatus', false);
                  this.$store.commit('main/setHistoryStatus', false);
                  this.$store.commit('main/setFavoriteStatus', false);
                  this.$store.commit('cart/setIsOpen', false);
              }
          },
          scrollMenu() {
              let scrolledOld = 0;

              window.onscroll = function() {
                  let scrolled = window.pageYOffset || document.documentElement.scrollTop,
                      header = document.getElementsByTagName('header')[0],
                      windowWidth = window.innerWidth;

                  if (windowWidth > 768) {
                      if (scrolled > 600) {
                          header.classList.add('scroll');
                      } else {
                          header.classList.remove('scroll');
                      }

                      if (scrolled < scrolledOld && scrolled > 1000) {
                          header.classList.add('scroll-top');
                      } else {
                          header.classList.remove('scroll-top');
                      }

                      scrolledOld = scrolled;
                  }
              }
          },
          closeModal() {
              this.closeNavigation(['cart', 'sorting', 'filter']);
          }
      },
      created(){
          this.scrollMenu();
          this.$store.dispatch('products/setRandomProducts');
      }
  }
</script>

<style lang="scss">
  @import "./assets/scss/index";
</style>
