.bg-color{
  &__white{
    background-color: white;
  }
  &__black{
    background-color: black;
  }
  &__olive{
    background-color: #8ec221;
  }
  &__red{
    background-color: #e74637;
  }
  &__light-gray{
    background-color: #d7d7d7;
  }
  &__pink{
    background-color: pink;
  }
  &__peach{
    background-color: #ffbc87;
  }
  &__turquoise{
    background-color: turquoise;
  }
  &__blue{
    background-color: #473eee;
  }
  &__green{
    background-color: #22aa3c;
  }
  &__gray{
    background-color: #afafaf;
  }
}